body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #4CAF50;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1, h2 {
    margin: 0;
}

.about {
    padding: 20px;
    text-align: center; /* Центровка текста */
    max-width: 800px; /* Ограничение ширины */
    margin: 0 auto; /* Центровка блока по горизонтали */
}

.games, footer {
    padding: 20px;
}

.game-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    display: inline-block;
    width: calc(33% - 40px);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.game-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

footer {
    background: #f1f1f1;
    text-align: center;
    padding: 20px;
}

@media (max-width: 768px) {
    .game-card {
        width: calc(50% - 40px);
    }
}

@media (max-width: 480px) {
    .game-card {
        width: 100%;
    }
}
